.page_7{
    width: 100%;
    height: 100%;
}
.page7{
    margin: 4rem 2rem;
    display: flex;
    justify-content: space-between;
    padding: 4rem;
    background-color: rgb(248, 235, 211);
}

.page7_body button{
    background-color: rgb(167, 110, 5);
    color: #fff;
    border-radius: 6px;
    padding: 1rem;
    border: none;
    outline: none;
    font-size: 1rem;
    margin: 2rem;
}
.page7_footer{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.page7_footer div{
    border: 1px solid black;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page7_star{
    font-size:3rem;
}
.page7_footer p{
    background-color: yellow;
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 50%;
    border: 1px solid  black;
}
@media only screen and (max-width: 600px) {
    .page7{
        margin: 2rem;
        flex-direction: column;
        padding: 2rem;
        gap: 3rem;
    }   
}