.card{
 width: 300px;   
}
.card img{
    border-radius: 6px;
}
.card p{
    padding: 1rem 0;
}
@media only screen and (max-width: 600px) {
    .card img{
        width: 280px;
        height: 300px;
    }
}