.nav{
    width: 100%;
}
.navbar{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}
.navbar_opt{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
.navbar_opt p{
    font-size: 1.2rem ;
    font-weight: 500;
}
.navbar_opt button{
    background-color: rgb(167, 110, 5);
    color: #fff;
    border-radius: 6px;
    padding: .6rem 8px;
    border: none;
    outline: none;
    font-size: 1rem;
}
.projects{
    display: flex;
    align-items: center;
}
@media only screen and (max-width: 600px) {
    .navbar{
        height: 80px;
        padding: 1rem;
    }    
    .navbar h1{
        font-size: 1rem;
    }      
    .navbar_opt{
        gap: .5rem;
    }
    .navbar_opt p{
        font-size: .6rem;
    }
    .navbar_opt button{
        background-color: rgb(167, 110, 5);
        color: #fff;
        border-radius: 6px;
        padding: 5px;
        border: none;
        outline: none;
        font-size: .4rem;
    }
}