.page_3{
    height: 100%;
    width: 100%;
}
.page3{
    margin: 2rem;
    padding: 2rem;
    position: relative;
}
.page3 h1{
    text-align: center;
    color: red;
}
.page3_body{
    margin: 1rem 0;
}
.page3_body h1{
    font-family: Garamond, serif;
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}
.mdstar{
    font-size:3rem;
    margin-right:14rem;
}
.flowerstar{
    color:rgb(167, 110, 5);
    font-size:3rem; 
        margin-left:14rem;
}
.page3_body_img1 img,.page3_body_img2 img, .page3_body_img3 img, .page3_body_img4 img{
    position: absolute;
    width: 400px;
    z-index: -1;
    display: none;
    left: 33%;
}
.page3_body_img1:hover{
     .image1{
        display: flex;
        margin-top: -4rem;
    }
}
.page3_body_img2:hover{
    .image2{
        display: flex;
        margin-top: -8rem;
    }
}
.page3_body_img3:hover{
    .image3{
        display: flex;
        margin-top: -12rem;
    }
}
.page3_body_img4:hover{
    .image4{
        display: flex;
        margin-top: -16rem;
    }
}
.page3_icon{
    display: flex;
    justify-content: flex-end;
}
@media only screen and (max-width: 600px) {
    .page3{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .page3 h1{
        font-size: 1rem;
    }
    .page3_body h1{
        font-family: Garamond, serif;
        font-size: 1rem;
        color: rgba(0, 0, 0, 0.5);
        text-align: center;
    }
    .mdstar{
        font-size:2rem;
        margin-right:2rem;
    }
    .flowerstar{
        color:rgb(167, 110, 5);
        font-size:2rem; 
        margin-left:0;
    }
    .page3_icon{
        display: flex;
        justify-content: flex-end;
    }
    .page3_body_img1 img,.page3_body_img2 img, .page3_body_img3 img, .page3_body_img4 img{
        position: absolute;
        width: 150px;
        z-index: -1;
        display: none;
        left: 20%;
    }
    .page3_body_img1:hover{
         .image1{
            display: flex;
            margin-top: -2rem;
        }
    }
    .page3_body_img2:hover{
        .image2{
            display: flex;
            margin-top: -4rem;
        }
    }
    .page3_body_img3:hover{
        .image3{
            display: flex;
            margin-top: -5rem;
        }
    }
    .page3_body_img4:hover{
        .image4{
            display: flex;
            margin-top: -6rem;
        }
    }
}