.foot{
    height: 100%;
    width: 100%;
}
.footer{
    margin: 2rem;
    background-color: whitesmoke;
    display: flex;
    height: 350px;
    padding: 3rem ;
    justify-content: space-between;
}
.footer_left, .footer_right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer_right1 {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}
@media only screen and (max-width: 600px) {
    .footer{
        margin: 2rem;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 2rem ;
        gap: 3rem;
        justify-content: space-between;
    }
    .footer_left, .footer_right{
        display: flex;
        gap: 2rem;
        flex-direction: column;
        justify-content: space-between;
    }
    .footer_right1 {
        flex-direction: column;
        gap: 3rem;
    }   
}