.page_2{
  height: 100%;
  width: 100%;
}
.page2 {
  margin: 2rem;
}
.page2_body {
  display: flex;
  justify-content: space-between;
}
.page2_body1 {
  margin: 1rem 0;
}
.page2_body1 p {
  margin-left: 0.46rem;
  height: 6rem;
  border-left: 2px solid black;
}
.page2_body1 h3 {
  display: flex;
  align-items: center;
}
.page2_body_img {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
.page2_line {
  margin: 0.5rem 0;
}
.exploremore {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media only screen and (max-width: 600px) {
  .page2_body {
    flex-direction: column;
  }
  .page2_body1 h3 {
    display: flex;
    align-items: center;
  }
  .page2_body_img {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  .page2_head img{
    width: 300px;
  }
  .page2_line {
    margin: 0.5rem 0;
  }
  .exploremore {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 2rem;
  }
  .page2_body_img{
    gap: 2rem;
  } 
  .page2_body_img img{
    width: 250px;
    height: 300px;
  }
}